* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Outfit';
  }
  
  .oba {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 20px;
    flex-direction: column;
  }
  
  .container {
    width: 100vw; /* Update the width to 100% */
    height: 95vh;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .output-text {
    flex-grow: 1;
    display: flex;
    align-items: center;
    width: 80vw; /* Update width to 100vw */
    height: 90vh;
    justify-content: center;
    overflow-y: auto;
    color: #fefefe;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
  }
  
  .output-item {
    color: #fefefe;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .prompt {
    color: #fefefe;
    display: flex;
    align-items: flex-start;
    padding:10px;
    justify-content: flex-start;
  }
  
  .answer {
    color: #fefefe;
    display: flex;
    align-items: flex-start;
    max-width: 1800px;
    padding: 10px;
    justify-content: flex-end;
  }
  
  .user {
    color: #fefefe;
    font-weight: bold;
    margin-right: 5px;
  }
  
  .bot {
    color: #fefefe;
    font-weight: bold;
    margin-right: 5px;
  }
  
  .input-text {
    display: flex;
    color: #fefefe;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .input-text input {
    width: 70vw;
    margin: 5px;
    background: transparent;
    color: #fefefe;
    border: 1px solid #fefefe;
    padding: 8px;
  }
  
  .input-text button {
    width: 10%;
    padding: 12px 32px;
    font-size: 1.2rem;
    text-transform: uppercase;
    background: transparent;
    border-radius: 10px;
    color: #fefefe;
    border: 1px solid #fefefe;
    cursor: pointer;
  }
  
  .input-text button:hover {
    background: rgba(255, 255, 255, 0.3);
  }
  
  @media screen and (max-width: 1000px) {
    .input-text input {
      width: 82%;
    }
  
    .input-text button {
      width: 25%;
    }
  }
  